th {
    background-color: rgb(255, 238, 0);
    text-align: center;
    outline: 1px;
}

td {
    background-color: rgb(236, 245, 245);
    text-align: center;
    outline: 1px;
}

.fig_container {
    background-color: white;
    border-radius: 1vw;
    margin: 0.2vw
}

.graph {
    display: inline-block;
    width: 70vw;
    margin: 1vw;
}

.info {
    display: inline-block;
    width: 20vw;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

body {
    margin: 0;
}

body>div {
    background-color: whitesmoke;
}

table {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.subject {
    text-align: center;
}

.score {
    text-align: center;
}

.subject-selector {
    width: 7vw;
    display: flex;
}

.multi {
    width: 5vw;
    display: flex;
}

.per-subject-container {
    display: flex;
}

#sj_container {
    display: flex;
}

button {
    display: flex;
}
